<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/link.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <% include nav.ejs %>
	<div id="imgTop"><img src="/images/img/linkTop.jpg" alt=""></div>
	<!-- <div id="left"></div> -->
	<div id="right">
		<div id="block">
			<ul class='list'>
				<li class='active'>美丽竹林</li>
				<li>求职交易</li>
				<li>商品信息</li>
			</ul>
			<div class='divActive'>
				<img class='leftImg' src="/images/img/u=822795825,3652719277&fm=21&gp=0.jpg" alt=""></img>
				<ul class='imgRight'>
					<li>11111111</li>
					<li>222222222222</li>
					<li>3333333</li>
					<li>444</li>
					<li>555</li>
				</ul>
			</div>
			<div>
				<img class='listImg' src="/images/img/u=3924125055,94300327&fm=21&gp=0.jpg" alt="">
				<img class='listImg' src="/images/img/u=3187042146,227315173&fm=21&gp=0.jpg" alt="">
				<img class='listImg' src="/images/img/u=3903971756,2246254152&fm=21&gp=0.jpg" alt="">
				<img class='listImg' src="/images/img/u=1949562386,3950660772&fm=21&gp=0.jpg" alt="">
			</div>
			<div>我是内容3</div>
		</div>
		
	</div>
	<div id="center">
		<div class="headLine">
			<div class="lineLeft"><img src="/images/img/u=3924125055,94300327&fm=21&gp=0.jpg" alt=""></div>
			<ul class="lineRight">
				<li></li>
				<li><img src="/images/img/u=3924125055,94300327&fm=21&gp=0.jpg" alt=""></li>
				<li><img src="/images/img/u=3924125055,94300327&fm=21&gp=0.jpg" alt=""></li>
				<li><img src="/images/img/u=3924125055,94300327&fm=21&gp=0.jpg" alt=""></li>
			</ul>
		</div>
				
	</div>
	<% include footer.ejs %>
	<script src="/javascripts/seajs/sea.js" 
                data-config="/javascripts/seajs-config.js" 
                data-main="/javascripts/link.js" >
    </script>


</body>
</html>