<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/resetPassword.css">
</head>
<body>
    <div class="rightPassword">
    	<form>
    		<ul class='resetP'>
    			<li><span>当前密码</span><input type="text" name='oldPassword'></li>
    			<li><span>修改密码</span><input type="password" name='newPassword'></li>
    			<li><span>确认密码</span><input type="password" name='renewPassword'></li>
                <li>
                    <div class='rpsub'>确定修改</div>
                </li>
                <li><%= error %><%= success %></li>
    		</ul>
    	</form>
    </div>
</body>
</html>