<!-- <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="enjoy/rotateImg/css/style.css">
</head>
<body>
	<div id="container">
	</div>
	<a href="javascript:;" id="prev"></a>
	<a href="javascript:;" id="next"></a>
</body>
<script src="enjoy/rotateImg/js/script.js"></script>
</html> -->