<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>webQQ</title>
	<link rel="stylesheet" href="/stylesheets/webqq/index.css">
</head>
<body>
	<div id="wallpaper">
	<img src="images/webqq/blue_glow.jpg" alt=""></div>
	<div id="desktop">
		<div id="leftbar">
			<ul class="app-items">
				
			</ul>
		</div>
		<p id="test">dsvsd</p>
		<div id="bottombar-bg"></div>
		<div id="bottom-task-bg"></div>
		<div id="bottombar">
			<ul id="task-list">
				
			</ul>
		</div>
	</div>
	
</body>
<script src='/javascripts/webqq/jquery-1.9.1.min.js'></script>
<script src='/javascripts/webqq/jquery-ui.js'></script>
<script src='/javascripts/webqq/dialog.js'></script>
<script src='/javascripts/webqq/index.js'></script>
</html>