<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='icon' href='/images/img/favicon.ico' mce_href='/images/img/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/writeBlog.css">
    <strong><script type="text/javascript" src="ckeditor/ckeditor.js"></script></strong> 
</head>
<body>

	<% include headTop.ejs %>
    <% include nav.ejs %>
	<div class="writeContainer">
		<div class="writeForm">
			<form> 
				<div class="writeTitle">
					<span>Title: </span><input class='writeTitleText' type="text" name='title'>
				</div>

			    <textarea id="editor1" name="content"></textarea><br/>
			    分类：<select name="blogSort" id="blogSort">
			    <% for(var i=0; i< posts.length; i++){%>
					<option value="<%= posts[i].sortName %>"><%= posts[i].sortName %></option>
				<% } %>
			    </select><br><br><br>
			    <!-- <input type="submit" id='fb_submit' value="发表"> -->
			    <div id='fb_submit'>发表</div>
		    </form>
		</div>
	</div>
    <% include footer.ejs %>
     <script src="/javascripts/seajs/sea.js" 
                data-config="/javascripts/seajs-config.js" 
                data-main="/javascripts/writeBlog.js" >
    </script>
</body>
</html>