*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'STHeiti', 'simsun', sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	width: 100%;
	height: 100%;
}
#nav.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.9;
}
#nav{
	background-color: #515151;
	z-index: 10;
}
.navbar{
	width: 80%;
	height: 35px;
	margin: 0 auto;
}
.navbar li{
	width: 10%;
	height: 35px;
	float: left;
	text-align: center;
	line-height: 35px;
	-webkit-transition: all 0.5s ease-in-out;
}
.navbar li a{
	color: #fff;
	font-size: 14px;
	float: left;
	width: 100%;
	height: 100%;
}
.navbar li:hover{
	background-color: #292929;
	border-radius: 50px;
}
.navbar li:hover a{
	color: #F90;
}
/*.navbar li.active{
	background-color: red;
}*/
.overTrue{
	display: none;
}
.username{
	width: 100%;
	position: relative;
}
.loginUser span{
	float: left;
	width: 100%;
	height: 30px;
}
.loginUser{
	background-color: #ECECEC;
	border: 1px solid #ccc;
	position: absolute;
	top: 35px;
	z-index: 10;
	left: 7px;
	display: none;
}
.loginUser span:hover{
	background-color: #E5E5E5;
}
.loginUser span a{
	color: #000;
	font-size: 14px;

}
.loginUser span a:hover{
	text-decoration: none;
}
.sub_t{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: green;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
#baocun:hover{
	background-color: #ccc;
}
#quxiao:hover{
	background-color: #ccc;
}
#personInfo{
	width: 173px;
	height: 150px;
	resize: none;
}