.logo{
	margin: 30px auto;
}
.form-horizontal .control-label{
	width: 80px;
}
.form-horizontal .controls{
	margin-left: 90px;
}
.container{
	height: 200px;
	padding-top: 10%;
}
.noReg, .noRegPassword{
	color: red;
	text-indent: 10px;
}
