	*{margin:0px;font-size:12px}
	.crop{width:680px; margin:20px auto; border:1px solid #d3d3d3; padding:4px; background:#fff}
	#cropzoom_container{float:left; width:500px}
	#preview{float:left; width:150px; height:200px; border:1px solid #999; margin-left:10px; padding:4px; background:#f7f7f7;}
	.page_btn{float:right; width:150px;  margin-top:20px; line-height:30px; text-align:center}
	.clear{clear:both}
	.btn{cursor:pointer}