.rightPassword{
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}
.resetP li{
	height: 3em;
	line-height: 3em;
}
.resetP li span{
	padding-right: 15px;
}
.rpsub{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: green;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.rpsub:hover{
	background-color: #ccc;
}